<!DOCTYPE html>
<html>
    <head>
        <title>Rex Web</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color : white; margin-top : 100px; padding : 25px;">
            {{{body}}}
            </div>
        </div>
    </body>
</html>